[run]
source = src
omit =
    src/nicegui_app/*
    src/workshop/rag/exercises/*
    src/workshop/rag/solutions/*
    src/workshop/utils.py

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    raise NotImplementedError
