# API keys
# OpenAI
OPENAI_API_KEY=your-openai-api-key
# (Optional) OpenAI Proxy (LiteLLM)
OPENAI_BASE_URL=https://your-proxy-url/

# GOOGLE
GOOGLE_API_KEY=your-google-gemini-studio-api-key
GOOGLE_GENAI_USE_VERTEXAI=false

# SSL Verification
SSL_VERIFY=false

# Chat File
CHAT_FILE_PATH=chats/chat-from-whatsapp.txt
