# API keys
# OpenAI
OPENAI_API_KEY=
# (Optional) OpenAI Proxy (LiteLLM)
OPENAI_BASE_URL=https://your-proxy-url/

# GOOGLE
GOOGLE_API_KEY=
GOOGLE_GENAI_USE_VERTEXAI=false

# Chat File
CHAT_FILE_PATH=chats/example_chat.txt

# SSL for workshop (should be false)
SSL_VERIFY=false
